@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@1&family=Roboto&family=Roboto+Slab&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

/*------- 
Parents
-------*/
.parents {
  display: flex;
  background: #161616;
  border-radius: 30px;
  margin: 50px 140px;
  justify-content: center;
  align-items: center;
}

.info {
  color: white;
  width: 100%;
  padding: 111px 106px;
}

.watching {
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 30px;
}

.player {
  width: 100%;
}

.second-parents {
  display: flex;
  margin: 50px 140px;
  justify-content: center;

}

.team {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  background: black;
  border-radius: 10px;
  height: 312px;
  width: 312px;
  padding: 30px;
  margin-right: 25px;
  gap: 25px;

}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

}

.matches {
  background: white;
  border-radius: 5px;

}

.groups {
  background: white;
  border-radius: 5px;
  padding: 10px;
}

.blogs {
  color: white;
  background: red;
  padding: 10px;
  border-radius: 5px;
}

.players {
  width: 312px;
  height: 362px;
  border: solid lightgray;
  border-radius: 10px;

}

.info-2 {
  padding: 15px;
}

.footer {
  width: 100%;
  height: 444px;
  background: #161616;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 40px;
  color: white;
  justify-content: center;
  align-items: center;
}

.end-itm {
  color: white;
  text-decoration: none;
  margin: 30px;
  justify-content: center;
  align-items: center;

}

.icon img {
  height: 56px;
  width: 56px;
}

.icons {
  justify-content: center;
  align-items: center;
}